In [4]:
# Python +  My SQL
import mysql.connector as dbs #importing database

database=dbs.connect(
    host="localhost",
    user="root",
    password="",
    database="class2pm"
)
db=database.cursor()

In [2]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Nabin', 77, 89, 84, 45, 67, 344, 75.0, "'A'")

In [5]:
sql='''INSERT INTO student(SN, Name, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade)
VALUES (5,'Ram',35,45,50,46,67,400,80,'A')'''
db.execute(sql)
database.commit()