In [1]:
a=input("enter a =")
b=input("enter b=")
c=a+b
print(c
)

enter a =1
enter b=2
12

In [2]:
a=int(input("enter a ="))
b=int(input("enter b ="))
c=a+b
print(c)

enter a =1
enter b =2
3

In [3]:
p=int(input("enter p="))
t=float(input("enter t="))
r=float(input("enter r="))
i=(p*t*r)/100
print(i)

enter p=1
enter t=2
enter r=3
0.06

In [4]:
name=input("enter name=")
add=input("enter add=")
print("Hello World I am ",name,"I am from ",add)

enter name=anj
enter add=qw
Hello World I am  anj I am from  qw

In [5]:
name=input("enter name=")
add=input("enter add=")
info=("Hello world I am "+name+".I amd from"+add+".")
print(info)

enter name=as
enter add=asd
Hello world I am as.I amd fromasd.

In [6]:
a = 1

In [7]:
b =2
print ( a+ b)

3

In [8]:
a=12
b=13
c=True
d="Hello World"
print(a)
print(b)
print(c)
print(d)
print(a,b,c,d)

12
13
True
Hello World
12 13 True Hello World

In [9]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'bool'>
<class 'str'>

In [10]:
print(type(a),type(b))

<class 'int'> <class 'int'>

In [11]:
a=10
b=3
c=a//b
print(c)

3

In [12]:
a=10
b=3
c=a%b
print(c)

1

In [13]:
p=1000
t=20.2
r=34.5
i=p*t*r/100
print(i)

6969.0

In [14]:
a=input()

1

In [15]:
a=int(input("enter a="))
b=int(input("enter b="))
c=a+b
print(c)

enter a=1
enter b=2
3

In [16]:
a=str(10)
b=float(10)
c=int(10)
print(a)
print(b)
print(c)

10
10.0
10

In [17]:
10+10

20

In [18]:
"10"+"10"

'1010'

In [19]:
p= int(input("enter p="))
t= float(input("enter t="))
r= float(input("enter r="))
i= p*t*r/100
print(i)

enter p=4
enter t=5
enter r=6
1.2

In [20]:
name=input("enter name=")
add=input("enter add=")
print("Hello World My name is",name,"and i live in",add,".")

enter name=bnm
enter add=asdf
Hello World My name is bnm and i live in asdf .

In [21]:
name=input("enter name=")
add=input("enter add=")
print("Hello world My name is "+name+" i am from "+add+".")

enter name=das
enter add=asdas
Hello world My name is das i am from asdas.

In [22]:
name=input("enter your name=")
add=input("enter your add=")
age=input("enter your age=")
info="Hello World My name is "+name+".I am from "+add+".And i am "+age+" years old."
print(info)

enter your name=sadas
enter your add=asda
enter your age=12
Hello World My name is sadas.I am from asda.And i am 12 years old.

In [23]:
name=input("enter name=")
add=input("enter add=")
age=int(input("enter age="))
info="Hello world my name is "+name+".I am from "+add+".I am "+str(age)+" years old"
print(info)

enter name=sadas
enter add=asda
enter age=12
Hello world my name is sadas.I am from asda.I am 12 years old

In [24]:
a="Hello World\t"
info=a*2
print(info)

Hello World	Hello World

In [25]:
a="Hello world\n"
b=a*2
print(b)

Hello world
Hello world

In [26]:
name=input("enter name=")
age=input("enter age=")
add=input("enter add=")
print("Hello World My name is",name,".I am ",age,"years old.I am from",add,".")

enter name=asdas
enter age=12
enter add=sa
Hello World My name is asdas .I am  12 years old.I am from sa .

In [27]:
a=1
b=2
c=a+b
print(c)

3

In [28]:
name=input("Enter name=")
add=input("Enter add =")
print("Hello my name is",name,"I am from",add)

Enter name=add
Enter add =asd
Hello my name is add I am from asd

In [29]:
a=int(input("enter a="))
b=int(input("enter b="))
o=input("enter +-*/")
if o=="+":
    print("a+b")
elif o=="-":
    print("a-b")
elif o=="*":
    print(a*b)
elif o=="/":
    print("a/b")
else:
    print("Invalid operator")

enter a=1
enter b=2
enter +-*/+
a+b

In [1]:
a=int(input("Enter a="))
if a == 0 :
    print("None")
else :
    if a%2==0:
        print("a is even")
    else:
        print("a is odd")

Enter a=1
a is odd