In [ ]:
a=[]
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    a.append(x)
print(a)

In [ ]:
a=[]
n=int(input("enter n="))
for i in range(n):
    x=int(input("enter x="))
    a.append(x)
print(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
sum(a)

In [ ]:
a.sort()
print(a)

In [ ]:
a.reverse()
print(a)

In [ ]:
a=[]
n=int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    a.append(x)
print(a)

In [ ]:
a.sort()
print(a)

In [ ]:
b=[]
a=['ant','yak','leopard']
for i in a:
    if i!='ant':
        b.append(i)
b

In [ ]:
a=['ant','banana','zebra','xray']
for i in range(len(a)):
    if a[i]=='ant':
        print(i)

In [ ]:
a.count("ant")

In [ ]:
a=("ram shyam hari gita nita shyam")
search=input("enter search=")
if search in a:
    print("yes",a.count(search))

In [ ]:
False and True

In [ ]:
False or False

In [ ]:
a=[]
n=input("enter no of rows=")
for i in range(n):
    rows=('enter no')

In [ ]:
a=[]
for x in range(a):
    i =input("enter the numbers in row=")
    j=input("enter the number in column=")
    a=[
a

In [ ]:
a=set()
a={'apple','ball','cat','hyna','seal','hyna','panther'}
a

In [ ]:
print(a)

In [ ]:
s=[]
n=int(input("enter value of n="))
for i in  range(n):
    physics=int(input("enter marks of physics="))
    chemistry=int(input("enter marks of chemistry="))
    math=int(input("enter marks of math="))
    english=int(input("enter the marks  of english="))
    nepali=int(input("enter the marks of nepali="))
    result=(physics+chemistry+math+english+nepali)/5
    print(result)

In [1]:
try:
    b=open('datass.csv','x')
    b.close()
except:
    pass

In [1]:
import pandas as pd
df=pd.read_csv('datass.csv')
#df.head(3)
df.tail(3)

   sn   Name  Age     Adress       phone
1   2  shyam   56  Bhaktapur  9808667654
2   3   Hari   46   Lalitpur  9804643873
3   4  Nabin   67      Tokha  9844157007

In [4]:
try:
    import pandas as pd
    df=pd.read_csv('datass.csv')
    df.head(3)
except:
      print("error occured")

In [4]:
print("Hello world")

Hello world