In [11]:
for x in "banana":
    print(x,end='')

banana

In [12]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [1]:
s=0
n=int(input("enter value of n="))
for i in range(n):
    x=int(input("enter vaule of x="))
    s=s+x
print(s)

enter value of n=5
enter vaule of x=1
enter vaule of x=2
enter vaule of x=3
enter vaule of x=4
enter vaule of x=5
15

In [6]:
fac=1
n=int(input("enter value of n="))
if n==0:
    print(fac)
elif n>=1:
    for i in range(1,n+1):
        fac=fac*i
        print(fac)
else:
    print("invalid number")

enter value of n=4
1
2
6
24

In [16]:
i=1
n=int(input("Enter the value of n="))
while i<=10:
    print(n*i)
    i=i+1

Enter the value of n=10
10
20
30
40
50
60
70
80
90
100

In [17]:
i=0
s=0
n=int(input("enter the value of n="))
while i<n:
    x=int(input("Enter the value of x="))
    s=s+x
    i=i+1
print(s)

enter the value of n=3
Enter the value of x=2
Enter the value of x=3
Enter the value of x=3
8

In [9]:
i=0
a="python"
l=len(a)
while i<l:
    print(a[i])
    i=i+1

p
y
t
h
o
n

In [6]:
a=10
if a%2==0:
    print("a is even")

a is even

In [7]:
x=["a","b","c"]
for a in x:
    print(x)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [16]:
fruits=['apple','ball','cherry']
for x in fruits:
    print(x"/t")

SyntaxError: invalid syntax (Temp/ipykernel_7192/3690343679.py, line 3)

In [17]:
a="hello world"
print(a*3)

hello worldhello worldhello world

In [21]:
a="hello world"
print(a[:6])

hello

In [30]:
a = "hello world"
x = a[:5]
y = a[5:]
print (x)
print (y)

hello
 world

In [34]:
a="hello world"
a[::-]

'drwolh'

In [37]:
a = "Ram Shyam Hari Gita Nita Shyam"
search = input("Enter search = ")

if search in a:
    print("Yes",a.count(search))

Enter search = ram

In [1]:
fac=1
n=int(input("enter n="))
if n>=0:
    for i in range (1,n+1):
        fac=fac*i
else:
    print("invalid operator")
print(fac)

enter n=0
1

In [2]:
fac=1
n=int(input("enter the value of n="))
if n>=1:
    for i in range(1,n+1):
        fac=fac*i
else:
    print("invalid operator")
print(fac)

enter the value of n=3
6

In [3]:
d={}
n=int(input("enter the value of n="))
for i in range(n):
    number=int(input("enter the phone number="))
    name=input("enter the name of the person=")
    d[number]=name
    
d

enter the value of n=2
enter the phone number=9848425218
enter the name of the person=hari
enter the phone number=9844157007
enter the name of the person=ram

{9848425218: 'hari', 9844157007: 'ram'}

In [1]:
a=[123,2,23,34]
print("the min value of a=",min(a))
print("the max value of a=",max(a))
a

the min value of a= 2
the max value of a= 123

[123, 2, 23, 34]

In [2]:
a

[123, 2, 23, 34]

In [3]:
print("min=",a[0])
print("max=",a[-1])

min= 123
max= 34

In [5]:
a=[[1,2,3]
  ,[2,3,4],
   [4,5,6]]
print(a[0])

[1, 2, 3]

In [9]:
name=input("enter name=")
name.lower()

enter name=Ram

'ram'

In [13]:
a=[['Ram',23,'Kathmandu'],
   ['Shyam',25,"Pokhara"],
   ['Hari',34,'Bharatpur']]

In [28]:
name=input("enter name=")
for i in a:
    if name in i[0].lower():
        print(i)

enter name=ram
['Ram', 23, 'Kathmandu']

In [29]:
a

[['Ram', 23, 'Kathmandu'], ['Shyam', 25, 'Pokhara'], ['Hari', 34, 'Bharatpur']]

In [49]:
a=[]
n=int(input("enter the no of row="))
for i in range(n):
    r=int(input("enter the digit of row first column="))
    c=int(input("enter the digit of row second column="))
    b=[r,c]
    a.append(b)
print(a[0])
print(a[1])

enter the no of row=2
enter the digit of row first column=1
enter the digit of row second column=1
enter the digit of row first column=2
enter the digit of row second column=3
[1, 1]
[2, 3]

 a=0
 while a>=5

In [1]:
a=0
while a<=5:
    print(a,"Hello world")
    a=a+1

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world

In [5]:
a=5
while a>=0:
    print(a,"Hello World")
    a=a-1

5 Hello World
4 Hello World
3 Hello World
2 Hello World
1 Hello World
0 Hello World

In [1]:
i=0
s=0
n=int(input("enter n="))
while i<n:
    x=int(input("enter x="))
    s=s+x
    i=i+1
print(s)

enter n=2
enter x=1
enter x=2
3

In [4]:
def area():
    l=int(input("enter l="))
    b=int(input("enter b="))
    a=l*b
    return a
h=3
v=area()*h
print(h)

enter l=1
enter b=2
3

In [13]:
def area():
    l = int(input("Enter l = "))              #local variable
    b = int(input("Enter b = "))              #Local variable
    a = l*b
    return a
ar=area()
h = 2
v = ar*h
print(v)

Enter l = 4
Enter b = 5
40

In [19]:
def area():
    l = int(input("Enter l = "))              #local variable
    b = int(input("Enter b = "))              #Local variable
    a = l*b
    return a
    
ar = area()
h = 2
v = ar*h*2
v = ar*h*3
v=ar+h
print(v)

Enter l = 3
Enter b = 4
14

In [21]:
def area():
    l = 10
    b = 4
    a = l*b
    return a


def volume():
    h = 2
    v = area()*h
    return v

print(volume())

80

In [23]:
def area():
    l=int(input("enter l="))
    b=int(input("enter b="))
    a=l*b
    return a
h=2
volume=area()*h
print(volume)

enter l=4
enter b=5
40

In [35]:
def google(a="cloud"):
    print(a)
    
google()
google("meet")
google("mail")

cloud
meet
mail

In [40]:
def area():
    l=2
    b=3
    a=l*b
    return a

def volume():
    h=5
    v=area()*h
    return v

volume()

30

In [45]:
def call():
    p=int(input("enter p="))
    t=float(input("enter t="))
    r=float(input("enter r="))
    i=p*t*r/100
    print(i)
    return
    x=input("enter y for more cal=")
    if x=='y':
        call()
        
call()

enter p=25000
enter t=3.5
enter r=10.5
9187.5